*
{
    padding: 0;
    margin: 0;
}

body
{
    color: black;
    text-align: center;
    font-weight: 500;
    font-size: 24px;
}

.header
{
    background-color: rgb(10, 158, 35);
    height: 100px;
    padding-left: 20px;
    padding-top: 20px;
}

.nav
{
    background-color: darksalmon;
    height: 60px;
    padding-top: 10px;
    box-sizing: border-box;

}

.menu
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}

.menu-item
{
    margin-right: 30px;
    margin-left: 30px;
}

.container
{
    display: flex;
    flex-direction: row;
}

.left
{
    background-color: rgb(232, 238, 222);
    width: 15%;
    height: 500px;
    color: black;
    padding-left: 20px;
    padding-top: 20px;
    font-size: 24px;
    font-weight: 400;
}

.main
{
    background-color: rgb(252, 248, 248);
    width: 70%;
    height: 500px;
    color: black;
    padding-left: 20px;
    padding-top: 20px;
    font-size: 14px;
    font-weight: 400;
    box-sizing: border-box;
}

.art {

    margin-top: 20px;
}


.img {
    width: 100px;
    height: 100px;;
}

.right
{
    background-color: rgb(232, 238, 222) ;
    width: 15%;
    height: 500px;
    color: black;
    padding-left: 20px;
    padding-top: 20px;
    font-size: 24px;
    font-weight: 400;
}

.footer
{
    background-color: rgb(10, 158, 35);
    height: 100px;
    padding-left: 20px;
    padding-top: 20px;
}