.main {
    display: flex;
    flex-direction: column;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    text-align: center;
    font-weight: 900;
    font-size: 25px;
    color: white;
    
}
.menu-1 {
    background-color: rgb(10, 83, 240);
}
.menu-2 {
   background-color: rgb(9, 128, 68); 
}
.menu-3 {
   background-color: rgb(236, 240, 10);
}
.menu-4 {
   background-color: rgb(35, 7, 114);
}
.menu-5 {
   background-color: rgb(214, 46, 23);
        }
.menu-6 {
   background-color: rgb(107, 5, 85);
}
